include docs/configs/*.yaml
include credativ_pg_migrator/config.schema.json
include docs/config_reference.md
include docs/configs/README.md
include *.md
include COPYING
include docs/images/architecture.jpg
include docs/images/credativ-pg-migrator.png
